<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Ted Beaver</title>
</head>
<body>
<div align="center">
<h1>Ted Beaver</h1>
{% if valveState %}
  <h1>valve is {{valveState}}</h1>
{% endif %}
{% if motion %}
  <h1>motion detected! {{motion}}</h1>
{% endif %}
<table>
    <tr>
        <td>
          <a href="/open" class="round-button green">Open Valve</a>
        </td>
        <td>
          <a href="/close" class="round-button red">Close Valve</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>
